/* GLOBAL CSS*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(img3.png);
    background-size: cover;
    background-position: auto;
    font-family: sans-serif;

}

.menu
{
    background: rgb(132, 167, 132);
    text-align: center;
}

.menu ul
{
    color: #fff;
    display: inline-flex;
    list-style: none;
}

.menu ul li
{
    margin: 15px;
    padding: 15px;
    width: 120px;
}

.menu ul li a
{
    color: #fff;
    text-decoration: none;
}

.formation
{
    text-align: center;
    color: rgb(175, 19, 58);
    min-height: 10em;
    margin-top: 200px;
    vertical-align: middle ;
    margin-left: auto;
    margin-right: auto;
}
.contact
{
    text-align: center;
    color: rgb(175, 19, 58);
    min-height: 10em;
    margin-top: 200px;
    vertical-align: middle ;
    margin-left: auto;
    margin-right: auto;
}
.compétence
{
    text-align: center;
    color: rgb(175, 19, 58);
    min-height: 10em;
    margin-top: 100px;
    vertical-align: middle ;
    margin-left: auto;
    margin-right: auto;
}
.XP
{
    text-align: center;
    color: rgb(175, 19, 58);
    min-height: 10em;
    margin-top: 200px;
    vertical-align: middle ;
    margin-left: auto;
    margin-right: auto;
}
.projet
{
    text-align: center;
    color: rgb(175, 19, 58);
    min-height: 10em;
    margin-top: 200px;
    vertical-align: middle ;
    margin-left: auto;
    margin-right: auto;
}

.img{

    text-align: center;
}

.video{
    text-align: center;
    margin-top: 200px;
}


